.art {
  width: 350px;
  margin-bottom: 10px;
}

.modal-art {
  width: 200px;
}

.piece-info {
  background-color: #CEEDF2;
	width: 550px;
}

.gallery {
  margin-top: 10px;
}

h4 {text-decoration: underline;}
